accelerate==1.6.0
blobfile
func-timeout
huggingface-hub
jsonlines
librosa==0.11.0
more-itertools
numba
numpy==1.26.4
openai
Pillow>=10
regex
safetensors==0.5.3
soundfile==0.13.1
tiktoken==0.9.0
torch==2.2.2
tqdm==4.67.1
transformers==4.46.3
